.section {
  margin: 100px auto 100px;
  max-width: 1200px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 110px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #DB9A03;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.text {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  color: #FFF;
  margin: 5px auto 0;
  transition: all .2s linear;
  max-width: 1000px;
  word-spacing: 2px;
}

.cont {
  display: flex;
  column-gap: 100px;
  row-gap: 30px;
  margin: 50px auto 0;
}

.img {
  width: 100%;
}

.card {
  position: relative;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #DB9A03;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card_title_vip {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #DB9A03;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  background: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cont_text_float {
  display: flex;
  justify-content: space-between;
}

.card_text_left {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  color: #FFF;
  margin-top: 7px;
  padding-left: 20px;
}

.card_text_right {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: end;
  color: #FFF;
  margin-top: 7px;
  padding-right: 20px;
}

.card_text {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: #FFF;
  padding: 10px 30px 0 30px;
  margin-top: 5px;
}

.cont_button {
  height: 30px;
  padding: 0 20px 0 20px;
}

.vip {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  z-index: 1;
  background: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-radius: 10px;
}

.vip_text {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* line-height: 20px; */
  text-align: center;
}