.card {
  margin-left: 100px;
  height: 988px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 84px;
  text-align: center;
  color: #DB9A03;
  text-transform: uppercase;
}

.text {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
}