.section {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 70px 50px;
  column-gap: 30px;
}

.cont_imgs {
  width: calc(12.4344%);
  /* min-width: 175px; */
  max-height: 770px;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  /* max-width: 627px; */
  width: calc(40%);
  margin: 0 15px 0 15px;
  
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 110px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #DB9A03;
}

.subtitle {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: -0.01em;
  color: #dcdcdc;
  margin: 15px 0 15px 0;
  word-spacing: 2px;
}

.li {
  color: #dcdcdc;
}

.cont_img {
  max-height: 770px;
  width: calc(50%);
  background-image: url('../../images/app-big.jpg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}

.img_small {
  width: 100%;
}

@media (max-width: 1620px) {
  .section {
    margin: 0 30px 70px 30px;
    column-gap: 15px;
  }

  .cont_imgs {
    width: calc(9.4344%);
  }

  .cont_img {
    width: calc(45%);
  }

  .title {
    font-size: calc(44px + 14 * (100vw - 1000px) / ((1620 - 1000)));
    line-height: calc(60px + 10 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .subtitle {
    font-size: calc(12px + 8 * (100vw - 1000px) / ((1620 - 1000)));
    line-height: calc(16px + 10 * (100vw - 1000px) / ((1620 - 1000)));
    margin-top: calc(7px + 3 * (100vw - 1000px) / ((1620 - 1000)));
    margin-bottom: calc(7px + 3 * (100vw - 1000px) / ((1620 - 1000)));
  }
}

@media (max-width: 1000px) {
  .section {
    display: flex;
    justify-content: space-between;
    margin: 0 100px 30px 100px;
    flex-direction: column-reverse;
    /* margin-left: calc(20px + 110 * (100vw - 320px) / ((1000 - 320)));
    margin-right: calc(20px + 110 * (100vw - 320px) / ((1000 - 320))); */
    margin: 0 auto 30px;
  }

  .text {
    display: flex;
    flex-direction: column;
    width: calc(280px + 460 * (100vw - 320px) / ((1000 - 320)));
    margin: 0 auto 0;
  }

  .cont_img {
    max-height: none;
    margin: 0 auto 0;
    width: calc(280px + 460 * (100vw - 320px) / ((1000 - 320)));
    height: 0; 
    padding-bottom: 65%;
    background-position: 50% 10%;
  }

  .subtitle {
    font-size: calc(9px + 17 * (100vw - 320px) / ((1000 - 320)));
    line-height: calc(12px + 20 * (100vw - 320px) / ((1000 - 320)));
    margin: 20px 0 0 0;
    word-spacing: 2px;
  }

  .li {
    color: #dcdcdc;;
  }

  .img_small {
    margin-top: 20px;
  }
}

@media (max-width: 655px) {

  .subtitle {
    margin: 10px 0 0 0;
    word-spacing: 2px;
  }

  .img_smile {
    margin-top: 10px;
  }
}

@media (max-width: 450px) {

  .li {
    font-size: 12px;
  }

  .subtitle {
    margin: 7px 0 0 0;
    word-spacing: 2px;
  }

  .img_small {
    margin-top: 7px;
  }
}
