.section {
  margin: 100px auto 100px;
  padding: 0 410px 0 410px;
  /* 210 */
}

.cont_flex {
  /* max-width: 350px; */
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.cont_form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 110px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #DB9A03;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.subtitle {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.05em;
  word-spacing: 2px;
  color: #dcdcdc;
  margin-bottom: 30px;
}

.input {
  box-sizing: border-box;
  padding: 7px;
  margin: 20px 0 20px 0;
  color: #dcdcdc;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  width: 100%;
  background-color: #1b1c1e;
  border: none;
  /* margin-bottom: 10px;
  border-bottom: 1.5px solid transparent; */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-image-slice: 1;
  height: 40px;
}

.input::placeholder {
  color: #BBB4B4;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.input:focus {
  outline: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-image-slice: 1;
}

.select {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  color: #dcdcdc;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  width: 100%;
  background-color: #1b1c1e;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-image-slice: 1;
  height: 40px;
  outline: 0;
  padding: 1px;
  cursor: pointer;
  text-align: left;
  padding-left: 7px;
}

.select_def {
  color: #BBB4B4;
}

.select:focus {
  outline: 0;
}

.button {
  margin-top: 40px;
  max-width: calc(100% - 4px);
  height: 30px;
}

.cont_img {
  width: 350px;
  height: 347px;
  background-image: url(../../images/cont.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: top 5% left;
  background-size: 100%;
  margin-bottom: -4px;
}

.cont_list {
  position:absolute;
  content: '';
  top: 0;
  left: 0;
  border: none;
  width: calc(100% - 2px);
  z-index: 3;
  background-color: #1b1c1e;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-image-slice: 1;
  /* transform: translateY(-15%); */
  animation: cont 0.3s ease-in-out forwards;
  animation-direction: alternate;
  overflow: hidden;
}

.cont_list_exit {
  animation: cont-exit 0.3s ease-in-out forwards;
}

.button_list {
  display: block;
  border: none;
  background-color: #1b1c1e;
  color:#BBB4B4;
  font-size: 20px;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 0.05em;
  text-align: left;
  cursor: pointer;
  margin: 5px 0 5px 0;
  width: 100%;
  animation: ani 0.3s ease-in-out forwards;
  animation-direction: alternate;
  transition: all 0.3s linear;
}

.button_list_exit {
  animation: ani-exit 0.3s ease-in-out forwards;
}

.button_list:hover {
  color: rgba(219, 154, 3, 1);
}

.relative {
  position: relative;
  z-index: 3;
  display: block;
  visibility: hidden;
  animation: hidden 0.3s ease-in-out forwards;
}

.relative_open {
  position: relative;
  z-index: 3;
  display: block;
  visibility: visible;
}

@media (max-width: 1650px) {

  .section {
    padding-left: calc(210px + 200 * (100vw - 1000px) / ((1620 - 1000)));
    padding-right: calc(210px + 200 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .title {
    font-size: calc(44px + 14 * (100vw - 1000px) / ((1620 - 1000)));
    line-height: calc(60px + 10 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .subtitle {
    font-size: calc(12px + 8 * (100vw - 1000px) / ((1620 - 1000)));
    line-height: calc(16px + 10 * (100vw - 1000px) / ((1620 - 1000)));
    margin-bottom: calc(20px + 10 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .input {
    font-size: calc(12px + 8 * (100vw - 1000px) / ((1620 - 1000)));
    line-height: calc(16px + 10 * (100vw - 1000px) / ((1620 - 1000)));
    padding: calc(5px + 2 * (100vw - 1000px) / ((1620 - 1000)));
    margin-top: calc(7px + 13 * (100vw - 1000px) / ((1620 - 1000)));
    margin-bottom: calc(7px + 13 * (100vw - 1000px) / ((1620 - 1000)));
    height: calc(30px + 10 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .select {
    font-size: calc(12px + 8 * (100vw - 1000px) / ((1620 - 1000)));
    line-height: calc(16px + 10 * (100vw - 1000px) / ((1620 - 1000)));
    padding: calc(5px + 2 * (100vw - 1000px) / ((1620 - 1000)));
    margin-top: calc(7px + 13 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .button_list {
    font-size: calc(12px + 8 * (100vw - 1000px) / ((1620 - 1000)));
    line-height: calc(16px + 10 * (100vw - 1000px) / ((1620 - 1000)));
    margin-top: calc(3px + 2 * (100vw - 1000px) / ((1620 - 1000)));
    margin-bottom: calc(3px + 2 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .input::placeholder {
    font-size: calc(12px + 8 * (100vw - 1000px) / ((1620 - 1000)));
    line-height: calc(16px + 10 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .button {
    margin-top: calc(30px + 10 * (100vw - 1000px) / ((1620 - 1000)));
    max-width: calc(100% - 4px);
    height: calc(25px + 5 * (100vw - 1000px) / ((1620 - 1000)));
  }
/* 241.28px */
  .cont_img {
    width: calc(265px + 85 * (100vw - 1000px) / ((1620 - 1000)));
    height: auto;
  }

  .cont_form {
    width: calc(265px + 85 * (100vw - 1000px) / ((1620 - 1000)));
  }

  .cont_flex {
    column-gap: calc(50px + 50 * (100vw - 1000px) / ((1620 - 1000)));
  }
}

@media (max-width: 1000px) {
  .section {
    /* padding-left: calc(20px + 110 * (100vw - 320px) / ((1000 - 320)));
    padding-right: calc(20px + 110 * (100vw - 320px) / ((1000 - 320))); */
    padding: 0;
    margin: 70px auto 70px;
  }

  .cont_flex {
    width: calc(280px + 460 * (100vw - 320px) / ((1000 - 320)));
    column-gap: calc(10px + 10 * (100vw - 320px) / ((1000 - 320)));
    margin: 0 auto 0;
  }

  .cont_img {
    width: 50%;
    height: auto;
    background-size: calc(120% - 20 * (100vw - 320px) / ((1000 - 320)));
    margin-bottom: -2px;
  }
  
  .cont_form {
    width: 50%;
  }

  .title {
    font-size: calc(25px + 19 * (100vw - 320px) / ((1000 - 320)));
    line-height: calc(30px + 30 * (100vw - 320px) / ((1000 - 320)));
    margin-bottom: calc(20px + 30 * (100vw - 320px) / ((1000 - 320)));
  }

  .subtitle {
    font-size: calc(9px + 16 * (100vw - 320px) / ((1000 - 320)));
    line-height: calc(12px + 20 * (100vw - 320px) / ((1000 - 320)));
  }

  .input {
    font-size: calc(9px + 16 * (100vw - 320px) / ((1000 - 320)));
    line-height: calc(12px + 20 * (100vw - 320px) / ((1000 - 320)));
    padding: calc(5px + 2 * (100vw - 320px) / ((1000 - 320)));
    margin-top: calc(5px + 10 * (100vw - 320px) / ((1000 - 320)));
    margin-bottom: calc(5px + 10 * (100vw - 320px) / ((1000 - 320)));
    height: calc(20px + 20 * (100vw - 320px) / ((1000 - 320)));
  }

  .input::placeholder {
    font-size: calc(9px + 16 * (100vw - 320px) / ((1000 - 320)));
    line-height: calc(12px + 20 * (100vw - 320px) / ((1000 - 320)));
  }

  .select {
    font-size: calc(9px + 16 * (100vw - 320px) / ((1000 - 320)));
    line-height: calc(12px + 20 * (100vw - 320px) / ((1000 - 320)));
    padding: 0;
    padding-left: calc(5px + 2 * (100vw - 320px) / ((1000 - 320)));
    margin-top: calc(5px + 10 * (100vw - 320px) / ((1000 - 320)));
    height: calc(20px + 20 * (100vw - 320px) / ((1000 - 320)));
  }

  .button_list {
    font-size: calc(9px + 16 * (100vw - 320px) / ((1000 - 320)));
    line-height: calc(12px + 20 * (100vw - 320px) / ((1000 - 320)));
    padding-left: calc(4px + 3 * (100vw - 320px) / ((1000 - 320)));
  }

  .cont_list {
    animation: cont-small 0.3s ease-in-out;
    animation-direction: alternate;
  }

  .cont_list_exit {
    height: 0;
    animation: cont-small-exit 0.3s ease-in-out;
    animation-direction: alternate;
  }

  .button {
    height: calc(20px + 15 * (100vw - 320px) / ((1000 - 320)));
  }

}


@keyframes ani {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes ani-exit {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes cont {
  0% {
    height: 0px;
  }

  100% {
    height: calc(65px + 30 * (100vw - 1000px) / ((1620 - 1000)));
  }
}

@keyframes cont-exit {
  0% {
    height: calc(65px + 30 * (100vw - 1000px) / ((1620 - 1000)));
  }

  100% {
    height: 0;
  }
}

@keyframes cont-small {
  0% {
    height: 0px;
  }

  100% {
    height: calc(45.2px + 68.8 * (100vw - 320px) / ((1000 - 320)));
  }
}

@keyframes cont-small-exit {
  0% {
    height: calc(45.2px + 68.8 * (100vw - 320px) / ((1000 - 320)));
  }

  100% {
    height: 0;
  }
}

@keyframes hidden {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;  
  }
}



