.section {
  margin: 50px auto 50px;
  max-width: 800px;
}

.cont_flex {
  /* max-width: 350px; */
  display: flex;
  justify-content: space-between;
}

.cont_form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 110px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #DB9A03;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.05em;
  word-spacing: 2px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.input {
  box-sizing: border-box;
  padding: 5px;
  margin: 20px 0 20px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  border: none;
  /* margin-bottom: 10px;
  border-bottom: 1.5px solid transparent; */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-image-slice: 1;
  height: 30px;
}

.input::placeholder {
  color: #BBB4B4;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.input:focus {
  outline: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-image-slice: 1;
}

.select {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-image-slice: 1;
  height: 30px;
  outline: 0;
  padding: 1px;
  cursor: pointer;
  text-align: left;
  padding-left: 5px;
}

.select_def {
  color: #BBB4B4;
}

.select:focus {
  outline: 0;
}

.button {
  margin: 40px 0 20px 0;
  max-width: calc(100% - 4px);
  height: 30px;
}

.cont_img {
  width: 350px;
  height: 325px;
  background-image: url(../../images/cont.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.cont_list {
  position:absolute;
  content: '';
  top: 0;
  left: 0;
  border: none;
  width: calc(100% - 2px);
  z-index: 3;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(31, 201, 253, 1) 0%, rgba(219, 154, 3, 1) 100%);
  border-image-slice: 1;
  /* transform: translateY(-15%); */
  animation: cont 0.3s ease-in-out forwards;
  animation-direction: alternate;
  overflow: hidden;
}

.cont_list_exit {
  animation: cont-exit 0.3s ease-in-out forwards;
}

.button_list {
  display: block;
  border: none;
  background-color: black;
  color:#BBB4B4;
  font-size: 15px;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 0.05em;
  text-align: left;
  cursor: pointer;
  margin: 5px 0 5px 0;
  width: 100%;
  animation: ani 0.3s ease-in-out forwards;
  animation-direction: alternate;
  transition: all 0.3s linear;
}

.button_list_exit {
  animation: ani-exit 0.3s ease-in-out forwards;
}

.button_list:hover {
  color: rgba(219, 154, 3, 1);
}

.relative {
  position: relative;
  z-index: 3;
  display: block;
  visibility: hidden;
  animation: hidden 0.3s ease-in-out forwards;
}

.relative_open {
  position: relative;
  z-index: 3;
  display: block;
  visibility: visible;
}


@keyframes ani {
  0% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes ani-exit {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15%);
  }
}

@keyframes cont {
  0% {
    height: 0px;
  }

  100% {
    height: 75px;
  }
}

@keyframes cont-exit {
  0% {
    height: 75px;
  }

  100% {
    height: 0;
  }
}

@keyframes hidden {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;  }
}

