.cont_svg {
  width: 180px;
  margin: 100px auto 50px;
  display: flex;
  justify-content: space-between;
}

.svg {
  height: 50px;
  width: 50px;
}

@media (max-width: 1000px) {
  .cont_svg {
    width: calc(130px + 50 * (100vw - 320px) / ((1000 - 320)));
    margin-top: calc(50px + 50 * (100vw - 320px) / ((1000 - 320)));
    margin-bottom: calc(50px + 50 * (100vw - 320px) / ((1000 - 320)));
  }

  .svg {
    height: calc(30px + 20 * (100vw - 320px) / ((1000 - 320)));
    width: calc(30px + 20 * (100vw - 320px) / ((1000 - 320)));
  }
}