body {
  margin: 0 auto 0;
  max-width: 1920px;
  background-color: rgba(0, 0, 0, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Khand", "Alegreya", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}