body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Khand",
    "Alegreya",
    Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}